<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605006436283-mm9ih0455obkn0m0ikd33hidlsiq2g82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605006436283-mm9ih0455obkn0m0ikd33hidlsiq2g82</string>
	<key>API_KEY</key>
	<string>AIzaSyDzL73QZd9_PDSJLex8X4SOFYDeCkVoJQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>605006436283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superv</string>
	<key>PROJECT_ID</key>
	<string>project-89f7a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-89f7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605006436283:ios:fcc5314c47a04b8f0d569e</string>
</dict>
</plist>